:root {
    --mdc-theme-primary: #000060;
    /*--mdc-theme-secondary: #2068c7;*/
    /*--mdc-theme-background: #ffffff;*/
    /*--mdc-theme-surface: #ffffff;*/

    --mdc-theme-on-primary: #ffffff;
    /*--mdc-theme-on-secondary: #0000ff;*/
    /*--mdc-theme-on-surface: #0000ff;*/

    /*--mdc-theme-text-primary-on-light: #0000ff;*/
    /*--mdc-theme-text-primary-on-dark: #0000ff;*/
    /*--mdc-theme-text-primary-on-background: #0000ff;*/

    /*--mdc-theme-text-secondary-on-light: #0000ff;*/
    /*--mdc-theme-text-secondary-on-dark: #0000ff;*/
    /*--mdc-theme-text-secondary-on-background: #0000ff;*/

    --theme-success: #00c28e;
    --theme-warning: #FFC809;
    --mdc-theme-error: #F94948;

    min-width: 200px;
    max-width: 400px;
    margin: auto;

    /*Disable double-tap to zoom on touch devices (e.g. phones)*/
    touch-action: manipulation;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.pin-input-container {
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px 40px 30px;
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
}

.pin-input-container > div {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.close-button {
    position: absolute;
    right: 40px;
}

.button-container :not(:last-child) {
    margin-bottom: 5px;
}

.large-button {
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

/* Pin keyboard */
.keyboard-grid {
    display: flex;
    flex-direction: column;
}

.keyboard-grid-row {
    display: flex;
    flex-direction: row;
}

.keyboard-input-cell {
    display: flex;
    justify-content: center;
    width: 33%;
    margin: 5px 10px 5px 10px;
}

.keyboard-button {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    min-width: auto;
}

/* Typography */
.mdc-typography {
    color: var(--mdc-theme-primary);
}

.alert {

}

.alert-success {
    color: var(--theme-success);;
}

.alert-warning {
    color: var(--theme-warning);;
}

.alert-error {
    color: var(--mdc-theme-error);
}
